@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body{
  background-color: white;
  margin-top : 20px;
  display : flex;
  flex-direction: column;
  align-items: center;
}
.letter{
  font-size: 17px;
  margin : 17px;
  margin-top : 127px;
  margin-bottom: 50px;
}
.letter div{
  /* text-decoration: underline; */
  padding : 3px 0px ;
  border-bottom: 1px solid rgba(128, 128, 128, 0.6);
}
.fixed{
  display: flex;
  justify-content: center;
  font-family: 'Gamja Flower', cursive;
  border-bottom: 3px dotted gray;
  width : 95vw;
  background-color : white;
  position : fixed;
  top : 0px;
}
.to{
  font-size : 38px;
  margin-top : 5px;
  margin-left: 15px;
  margin-bottom: 20px;
  z-index : 1;
}
.heart{
  width : 70px;
  height: 70px;
  position : relative;
  top : 10px;
  right : 7px;
}
.color_change{
  display: flex;
  width : 100vw;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position :fixed;
  bottom : 0px;
  height : 50px;
}
.color_change form{
  margin : 0px 10px;
}
.color_change input{
  width : 40px;
  height : 30px;
}
.color_change button{
  border : none;
  box-shadow: 1px 1px rgba(128, 128, 128, 0.2);
  background-color: white;
  border-radius: 3px;
}
/* .color_change_toggler{
  display: flex;
  align-items: center;
  justify-content: center;
  width : 50px;
  height : 50px;
  border-radius: 50%;
  background-color: rgba(255, 189, 189, 0.4);
  position : fixed;
  right : 10px;
  bottom : 70px;
} */
.hidden{
  display : none;
}